@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "raleway", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    background-color:#f4f4f4 !important;
}

body {
    background-color: #f4f4f4;
    min-height: 100vh;
}

.content-container {
    position: fixed;
    padding-top: 136px;
    margin-top: 20px;
}

#navMenu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
}

#navbar1 .nav-link {
    color: black !important;
}

#navbar1 .active {
    background-color: white;
    border-radius: 8px;
    padding-left: 3%;
}

.navbar {
    width: 100%;
    top: 0;
    position: fixed;
}

#navbar2 .active {
    background-color: #ffc107;
    border-top: 100px;
    border-radius: 10px;
}

#navbar2 .nav-link {
    color: black !important;
    font-weight: 500;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

#content {
    position: fixed;
    top: 112px;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 60px;
}

section{
    padding-top: 20px;
}
.scrollspy-example {
    height: 100%;
    position: relative;
    margin-top: 0.5rem;
    overflow: auto;
}

.food-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 280px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.food-card img {
    max-width: 220px;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.food-card p {
    font-size: smaller;
}

.food-card h6,
p {
    text-align: center;
}

.food-card:hover {
    transform: scale(1.05);
    transition: ease-in-out;
}

.food-card strong {
    font-family: "raleway", Arial, Helvetica, sans-serif;
}

.navbar-nav.nav.nav-link.active {
    color: #FFD700 !important;
}

footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    position: relative;
}

#icon-panel {
    display: flex;
    flex-direction: row;
}

#icon-panel div {
    height: 35px;
    width: 35px;
}

#icon-panel i {
    font-size: 28px;
}

ul h4 {
    color: #ffc107;
}





/* Responsiveness for different screen-size  */

@media (max-width: 321px) {
    #content {
        top: 135px;
    }
    #navbar2 .nav-link {
        font-size: 10px;
        flex-wrap: wrap;
    }
}

@media (min-width: 321px) {
    #content {
        top: 149px;
    }
    #navbar2 .nav-link {
        font-size: 14px;
        flex-wrap: wrap;
    }
}

@media (min-width: 376px) {
    #content {
        top: 149px;
    }
}

@media (min-width: 426px) {
    #content {
        top: 112px;
    }
}

/* @media (min-width:375px) and (max-width:424px) {
    #content {
        margin-top: 136px;
        padding-top: 8px;
        position: fixed;
        overflow-y: auto;
        height: 100%;
    }

    section {
        margin-top: 20px;
        padding-top: 10px;
    }

    .navbar2 {
        position: fixed;
    }

    .navbar .nav-link {
        padding: 10px;
    }
} */

/* @media (min-width:426px) and (max-width:768px) {
    #content {
        margin-top: 68px;
        padding-top: 8px;
        position: fixed;
        overflow-y: auto;
        height: 100%;
    }

    section {
        margin-top: 20px;
        padding-top: 10px;
    }

    .navbar2 {
        position: fixed;
    }

    .navbar .nav-link {
        padding: 10px;
    }
}

@media (min-width:375px)and (max-width:424px) {
    #content {
        margin-top: 136px;
        position: fixed;
        overflow-y: auto;
        height: 100%;

    }

    section {
        margin-top: 10px;
        padding-top: 40px;

    }
    
    .navbar2 {
        position: fixed;
    }

    .navbar .nav-link {
        padding: 10px;
    }
}

@media (min-width:0px) and (max-width:320px) {
    #navbar2 .nav-link {
        font-size: 10px;
        flex-wrap: wrap;
    }

    #navbar2 .navbar-brand {
        text-align: center;

    }

    #content {
        margin-top: 136px;
        position: fixed;
        overflow-y: auto;
        height: 100%;
    }

    section {
        margin-top: 10px;
        padding-top: 30px;
    }

    #navbar2 .nav-link {
        color: black;
    }
}

@media(width:768px) {
    #content {
        margin-top: 68px;
        padding-top: 8px;
        position: fixed;
        overflow-y: auto;
        height: 100%;
    }

    section {
        margin-top: 20px;
        padding-top: 10px;
    }

    .navbar2 {
        position: fixed;
    }

    .navbar .nav-link {
        padding: 10px;
    }
} */

/* 
@media (width:375px){
    #content {
        margin-top: 136px;
        position: fixed;
        overflow-y: auto;
        height: 100%;

    }

    section {
        margin-top: 10px;
        padding-top: 40px;

    }

} */
/* Responsiveness content */

footer li {
    @media (max-width:375px) {
        font-size: smaller;
        
    }
}

footer h4 {
    @media (max-width:375px) {
        font-size: small;
        
    }
}

footer li {
    @media (max-width:768px) {
        font-size:small;
        
    }
}

footer h4 {
    @media (max-width:375px) {
        font-size: medium;
        
    }
}