@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "raleway",Arial, Helvetica, sans-serif;
}
body{
    background-color: #f4f4f4;
}
/* Navbar styling */
.nav-box{
    background-color: #ffc107;

}
.navbar-nav {
    flex-direction: column;
}
.navbar .active {
    background-color: white;
    border-radius: 8px;
    padding-left: 3%;
}

.navbar .nav-link {
    color: black !important;
}

.profile-page{
    top: 56px;
    position: relative;
}
.tabs{
    min-height: 46px;
    width: 90%;
    display: flex;
    align-items: center;
    color: black;
    background-color: #fabe0a;
    border-radius: 7px;
    box-shadow: rgba(0,0 ,0 , 0.6);
    justify-content: space-between;
}
.tabs button{
    background-color: #fabe0a;
    border: none;
}

.profile-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-picture{
    height: 50%;
    width: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(profile.png);
    background-position: center;
    background-size: cover;
}
.sections{
    position: relative;
}
.sections button {
    text-align: start;
    width: 100%;
}
.sections a{
    color: black;
    text-decoration: none;
}
.modal-body{
   display: block;
   text-align: center;
   align-items: center;

}
#drop-area{
    border-radius: 8px;
    min-height: 220px;
    width: 230px;
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 2px black dashed;
    padding: 10px 20px 10px 20px;
}
#img-view i{
    font-size: 80px;
    text-align: center;

}

@media (max-width:450px){
    .profile-picture{
        width: 120px;
        height: 120px;
        top: 50%;
        left: 50%;
        text-align: center;
        border-radius: 20px;
    }
    
}

@media (min-width:451px) and (max-width:880px) {
    form{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(min-width:881px){

}

#password-section{
    display: none;
}
#security-section{
    display: none;
}