@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "raleway",Arial, Helvetica, sans-serif;
}

.banner{
    background-image: url(back.jpg);
    filter: opacity(95%);
    width: 100%;
    min-height: 100vh;
    background-size:cover;
    background-position: center;

}

.banner-heading{
    z-index: 1;
    padding-top: 260px;
    top: 50%;
    left: 50%;
}
@media (max-width:425px) {
    .banner-heading{
        padding-top: 210px;
    }    
}

.para1{
    z-index: 1;
}

.signup-btn{
    text-decoration: none;
    
}
#Signup-box{
    position: fixed;
    max-width:400px;
    top: 50%;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%,-50%); 
    opacity: 0;
    transition: 0.5s;
}

 
.nav-box{
    background-color: #ffc107;

}
.navbar-nav {
    flex-direction: column;
}
.navbar .active {
    background-color: white;
    border-radius: 8px;
    padding-left: 3%;
}

.navbar .nav-link {
    color: black !important;
}
form{
    max-width: 400px;
    padding: 20px; 
    border-radius: 16px;
    border: none;
    align-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cancel-btn{
    font-size: 40px;
    float: right;
    text-align: start;
    rotate: 45deg;
    cursor: pointer;
    margin-right: 15px;
}

.blog-img{
    background-image: url(order.jpg);
    width: 50%;
    height: 45vh;
    background-size: cover;
    background-position: center;
}
.blog-img2{
    background-image: url(feedback1.jpg);
    width: 50%;
    height: 45vh;
    background-size: cover;
    background-position: center;
}

ul h4{
    color:#ffc107;
}

footer{
    background-color: black;
}

.blogimg3{
    background-image: url(deals.jpg);
    width: 50%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#icon-panel{
    display: flex;
    flex-direction: row;
}

#icon-panel div{
    height: 35px;
    width: 35px;
}

#icon-panel i{
    font-size: 28px;
}

/* popup */
#blur.banner.active {
    filter:brightness(60%) ;
    pointer-events: none;
    user-select: none;
    overflow-y: hidden;
}

#Signup-box.container.active{
    position: fixed;
    top:50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    overflow-y: hidden;
}